body {
	margin: 0;
	padding: 0;
}
#background {
	background: linear-gradient(
		to top, 
 	    #1a0033 0%,     
		#33004d 30%,    
		#4b0082 55%,    
		#2c3e50 80%,    
		#0d1b2a 100%);
	width:100vw;
	height:100vh;
	margin: 0;
	padding: 0;
	position:fixed;
}

#ground {
	background-color: rgb(0, 0, 0);
	height: 50%;
	width: 100%;
	margin-top: 49%;
	position:fixed;
	top:-100px;

}

#house {
	position:relative;
	top:30vh;
	border:2px solid black;
	background-color: rgb(163, 52, 0);
	width:500px;
	height:400px;
	margin: auto;
}

#chimney {
	position: absolute;
	width:100px;
	height:100px;
	border:2px solid black;
	background-color:rgb(84, 34, 11);
	top:-103px;
	z-index:0;
}

#roof {
	position: absolute;
	width:500px;
	height:100px;
	border: 1px solid transparent;
	background-color:transparent;
	top: 0;
	z-index: 1;
}

#board-1 {
	width:500px;
	height:20px;
	background-color:rgb(84, 34, 11);
	border:2px solid black;
	position: absolute;
	top: -3px;
	left:-2px;
}
#board-2 {
	width:500px;
	height:20px;
	background-color:rgb(84, 34, 11);
	border:2px solid black;
	position: absolute;
	top: 40px;
	left:-2px;
}
#board-3 {
	width:500px;
	height:20px;
	background-color:rgb(84, 34, 11);
	border:2px solid black;
	position: absolute;
	top: 80px;
	left:-2px;
}

#window-1 {
	box-sizing:border-box;
	position: absolute;
	width:100px;
	height:100px;
	border:20px solid rgb(84, 34, 11);
	background-color:rgba(74, 99, 173, 0.517);
	top:150px;
	left:50px;
}

#window-2 {
	box-sizing:border-box;
	position: absolute;
	width:100px;
	height:100px;
	border:20px solid rgb(84, 34, 11);
	background-color:rgba(74, 99, 173, 0.517);
	top:150px;
	left:350px;
}

#door {
	position: absolute;
	width:100px;
	height:200px;
	border:none;
	background-color:rgb(84, 34, 11);
	left:200px;
	bottom:0;
}