* {
	box-sizing: border-box;
}

body {
	background-color: grey;
	font-family:sans-serif;
	font-size: 2rem;
	margin: 0;
}

header {
	background-color: beige;
	text-align: center;
	color: grey;
	padding: 2px;
	width: 100%;
	margin: 0;
	min-height: 2.1rem;
	border-bottom: 2px solid black;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:30px;
	margin: 20px 10px;
}

.container img {
	border-radius: 20px;
	border: 2px solid black;
	max-width: 200px;
}