body {
	width: 100%;
	height: 100vh;
	background-color: skyblue;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
}

.form-container {
	background-color: white;
	width: 40%;
	min-width: 200px;
	height: 60%;
	min-height: 400px;
	border-radius: 10px;
	max-width: auto;
	margin: 10% auto;
	padding: auto 20px;
}

input {
	width: 100%;
	padding: 5px auto;
	margin-bottom:1em;
}
textarea {
	width: 100%;
	margin: 5px auto;
	padding: 5px;
	border: 1px solid lightgrey;
	border-radius: 5px;

}

label {
	display: block;
  	margin: 0.5rem 0;
	color:black;
}

button {
	display: block;
	background-color: gray;
	color: white;
	margin: 5px auto;
	width: 15%;
	height: 2em;
	border: none;
	border-radius: 20px;
}

button:hover{
	background-color: skyblue;
}