body {
	background-color: white;
}
#email {
	background-color: beige;
	border: 2px solid black;
	margin: 30px auto 20px auto;
	padding: 60px 30px;
	box-shadow: 0 5px 5px 0 gray;
	max-width: 500px;
	min-height: 350px;
	position:relative;
}

.blurred {
	filter:blur(3px);
}

#confidential {
	color:red;
	border: 5px solid red;
	font-size: 0.8rem;
	display:inline-block;
	transform:rotate(-30deg);
	z-index: 1;
	position: absolute;
	top: 100px;
	right:200px;
	
}

#top-secret {
	font-size: 0.8rem;
	color:red;
	border: 5px solid red;
	display:inline-block;
	transform:rotate(10deg);
	z-index: 1;
	position: absolute;
	top: 300px;
	right:40px;
}