body {
	background-color: white;
}
#email {
	padding:50px;
	margin-top: 50px;
	margin-left:auto;
	margin-right:auto;
	width: 500px;
	box-sizing: border-box;
	background-color:beige;
	border: 2px solid black;
}

.blurred {
	filter:blur(3px);
}

#confidential {
	color:red;
	transform:rotate(-30deg);
	display: inline-block;
	padding: 5px;
	margin-left: 3px;
	border: 5px solid red;
	font-size: 0.8rem;
}

#top-secret {
	color:red;
	transform:rotate(10deg);
	display:inline-block;
	padding: 5px;
	margin-left: 3px;
	font-size: 0.8rem;
	border: 5px solid red;
}