body {
	background-color: rosybrown;
	font-family: Arial, sans-serif;
  	padding: 30%;
}

.business-card {
	width: 300px;
	padding: 20px;
	margin-top:100px;
	background-color: grey;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-size: 16px;

}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
}

.profile-image {
	max-width: 100%;
}