tr[class='read'] {
	background-image: linear-gradient(to right,rgb(102, 209, 102), lightgreen);
}

tr[class='to-read'] {
	background-image: linear-gradient(to right, rgb(255, 128, 0), rgb(241, 175, 53));
}

tr[class='in-progress'] {
	background-image: linear-gradient(to right, rgb(113, 107, 163), rgb(166, 161, 203));
}

span {
	display: inline-block;
}

tr[class='to-read'] span[class='status'] {
	border: 2px solid black;
	background-image: linear-gradient(to right, rgb(10, 9, 21), rgb(96, 96, 103));
}

tr[class='read'] span[class='status'] {
	border: 2px solid black;
	background-image: linear-gradient(to right, rgb(10, 9, 21), rgb(96, 96, 103));
}

tr[class='in-progress'] span[class='status'] {
	border: 2px solid black;
	background-image: linear-gradient(to right, rgb(10, 9, 21), rgb(96, 96, 103));
}

span[class='status'] , span[class='rate'] {
	height: 10px;
	width: 10px;
	padding:2px;
}

span[class^='rate'] > span {
	background-color: gray;
	border: 2px solid black;
	border-radius: 10px;
	margin: 2px auto;
	height: 80%;
	width: 80%;
}

span[class~='one'] span:first-child {
	background-image: linear-gradient(to right, yellow 60%, gray);
}

span[class~='one'] span:nth-of-child(1),
span[class~='one'] span:nth-of-child(2) {
	background-image: linear-gradient(to right, yellow 60%, gray);
}

span[class~='three'] span {
	background-image: linear-gradient(to right, yellow 60%, gray);
}