
/* DEFAULT STYLING AND STRUCTURE -------------------------------- */
	* {
	box-sizing: border-box;
	}
	
	:root {
	--light-gray: hsl(0, 1%, 30%);
	--light-grayFaded: rgba(255, 255, 255, 0.3);
	--dark-gray: hsl(0, 0%, 17%);
	--dark-grayFaded: rgba(28, 28, 28, 0.7);
	--highlight-color: #F18541;
	--font-base: 1.1rem;
	--font-h1: 2.5rem;
	--font-h2: 1.9rem;
	--font-h3: 1.5rem;
	--font-h4: 1.3rem;
	letter-spacing: .1rem;
	}
	
	.page-container {
	background: linear-gradient(to top right, var(--dark-gray), var(--light-gray), var(--light-grayFaded));
	background-color: var(--light-gray);
	font-family: monospace;
	font-weight: 100;
	font-size: var(--font-base);
	margin:auto;
	height:100vh;
	display: grid;
	grid-template-columns: 260px 1fr;
	grid-template-rows: 1fr 120px;
	gap:0;
	overflow: hidden;
	}
	
	h1 {
	padding: .8rem;
	border-radius: 5px;
	margin-top: 0;
	margin-bottom: .6rem;
	font-family: Geneva, Tahoma, sans-serif;
	color: var(--highlight-color);
	letter-spacing: 1rem;
	font-weight: 900;
	text-transform:uppercase;
	font-size: var(--font-h1);
	text-shadow:-1.5px -1.5px 0 var(--dark-gray),
				0px -1.5px 0 var(--dark-gray),
				1.5px -1.5px 0 var(--dark-gray),
				-1.5px  0px 0 var(--dark-gray),
				1.5px  0px 0 var(--dark-gray),
				-1.5px  1.5px 0 var(--dark-gray),
				0px  1.5px 0 var(--dark-gray),
				1.5px  1.5px 0 var(--dark-gray); ;
	}
	
	h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 600;
	text-transform:uppercase;
	}
	
	h2 { font-size: var(--font-h2); }
	h3 { font-size: var(--font-h3); }
	h4 { font-size: var(--font-h4); }
	
	a {
	text-decoration: none;
	color: var(--dark-gray);
	}

/* NAVIGATION PANEL  ------------------------------------------- */
	.hamburger {
	display: none;
	}	

	.nav-bar {
	grid-row:1/3;
	grid-column: 1/2;
	height: 100%;
	margin:0;
	padding:0;
	}
	.nav-links {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin: 0;
	width: 70%;
	margin: auto;
	height: 100%;
	}
	
	.nav-link {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 600;
	font-size: 1.3rem; 
	text-transform:uppercase;
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
	height: 10%;
	min-height: fit-content;
	margin: auto;
	padding: 1rem;
	color: var(--dark-gray);
	background-color: var(--highlight-color);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 50px;
	box-shadow: 3px 3px 4px var(--light-grayFaded);
	border-top: 4px solid var(--dark-gray);
	border-left: 4px solid var(--dark-gray);
	text-decoration: none;
	}
	
	.nav-link:hover {
	transform: scale(1.04);
	background-color: var(--light-grayFaded);
	color: var(--dark-gray);
	box-shadow: 3px 3px 4px var(--dark-gray);
	border-top: 4px solid var(--highlight-color);
	border-left: 4px solid var(--highlight-color);
	transition: all 0.3s ease;
	}


/* BUTTON & LINK STYLING  ----------------------------------------- */
	
	.credentials-link {
	color: var(--highlight-color);
	background-color: var(--dark-gray);
	padding: 3px 6px;
	border-radius: 10px;
	}
	
	.credentials-link:hover {
	color: white;
	padding: 2px 5px;
	border-radius: 10px;
	transform: scale(1.08);
	transition: all 0.3s ease;
	}

	#downloadable {
	color: white;
	}

	#downloadable:hover {
	color: var(--highlight-color);
	transform: scale(1.08);
	transition: all 0.3s ease;
	}

/* MAIN CONTENT STYLING & STRUCTURE ------------------------------------------ */
	svg {
	height: 2rem;
	width: 2rem;
	vertical-align: -0.4rem;
	fill: currentColor;
	}
	
	.main-content {
	background: rgba(255, 255, 255, 0.3);
	border-bottom-left-radius: 100px;
	border-bottom-right-radius:10px;
	height: auto;
	padding: 3rem;
	overflow-y: scroll;
	overflow-x: hidden;
	}
	
	#orange-subtitle {
	color: var(--highlight-color);
	}
	
	#intro-letter {
	color:rgb(217, 217, 217) ;
	background-color: var(--dark-grayFaded);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 50px;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 0 !important;
	}
	
	#intro-letter p {
	padding:0;
	margin: 0;
	}

	#intro-letter h3 {
		margin-bottom: 1rem;
		margin-top: 0;
		padding: 0;
	}

	#certifications {margin-bottom: 2rem;}
	
	#certifications dl dt {
	background-color: white;
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 1.1rem;
	}
	
	#certifications dl dd {
	padding: 2px;
	margin-bottom: 1.5rem;
	font-size: 1rem;
	}
	
	span {
	font-size: 1rem;
	font-weight: 100;
	}

	#activity-chart {
		width: 100%;
	}
	
	#activity-chart-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	column-gap: 2rem;
	}

	#activity-chart-flex img {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 60px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	filter:opacity(90%);
	width: 50%;
	}
	
	
	#progress-button {
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
	color: white;
	background: var(--dark-gray);
	border: 3px solid var(--highlight-color);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 50px;
	width:30%;
	height: 20%;
	padding: 1rem;
	}
	
	#progress-button:hover {
	transform: scale(1.08);
	background-color: var(--light-grayFaded);
	color: var(--dark-gray);
	transition: all 0.3s ease;
	}



	#game-instructions{
	padding-left: 2rem;
	padding-top:.7rem ;
	padding-bottom:.7rem ;
	font-size: 1rem;
	background-color: white;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 60px;
	line-height: 1.7rem;
	width:50%;
	min-width: 600px;
	}

	#game-project iframe {
		min-width: fit-content;
		margin-top: 1.5rem;
		overflow: hidden;
	}

	strong {
	font-weight: 900;
	background-color: var(--highlight-color);
	padding: .15rem .25rem;
	margin:.2rem;
	border-radius: 5px;
	}

/* FOOTER STYLING ----------------------------------------------- */
	.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
	}
	
	.footer-link {
	padding: 10px;
	color: var(--dark-gray);
	background-color: var(--light-grayFaded);
	border: 3px solid var(--dark-gray);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 20px;
	box-shadow: 3px 3px 3px var(--highlight-color);
	transition: all 0.3s;
	}
	
	.footer-link:hover {
	color: var(--dark-gray);
	border: 3px solid var(--dark-gray);
	background-color: var(--highlight-color);
	box-shadow: 3px 3px 3px var(--light-grayFaded);
	transform: scale(1.08);
	transition: all 0.3s ease;
	}
	
	.footer-link > a > svg{
	fill: var(--dark-gray) !important;
	}
	
	.footer-link:hover > a > svg{
	fill: var(--dark-gray) !important;
	transition: fill 0.3s ease;
	}
	




/* HANDLING MEDIUM SCREEN SIZES ----------------------------------------------- */

@media (max-width: 1000px) {
	:root {
	--nav-height: 165px;
	--footer-height: 120px;
	}

	.page-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: none;
	overflow: hidden;
	}
	
	.nav-bar {
	order: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	max-height: 165px;
	padding:1rem 2rem;
	z-index: 1000;
	overflow-y: scroll;
	overflow-x: hidden;
	}
	
	.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	padding: 0;
	}
	
	.nav-link {
	flex: 1 1 30%;
	height: 60px;
	width: fit-content;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 25px;
	color: var(--dark-gray);;
	background-color: var(--light-grayFaded);
	box-shadow: 2px 2px 4px var(--dark-gray);
	border-top: 4px solid var(--highlight-color);
	border-left: 4px solid var(--highlight-color);
	margin: 5px 10px;
	padding: 0.2rem;
	font-size: 0.95rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	}
	
	.nav-link:hover {
	transform: none;
	color: var(--highlight-color);;;
	background-color: var(--dark-gray);
	box-shadow: 2px 2px 2px var(--light-grayFaded);
	border-top: 4px solid var(--light-grayFaded);;
	border-left: 4px solid var(--light-grayFaded);;
	}
	
	.main-content {
	order: 2;
	margin-top: var(--nav-height);
	height: calc(100vh - var(--nav-height) - var(--footer-height));
	max-height: none;
	width: 100%;
	padding: 1.5rem 1.2rem;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 20px;
	}
	
	#certifications dl dt {
	width: 100%;
	}
	
	#activity-chart-flex {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}
	
	#activity-chart-flex img {
	margin-bottom: 2rem;
	width: 80%;
	}
	
	.footer {
	order: 3;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	color: white;
	z-index: 1000;
	}
}

@media (max-width: 700px) {
	.hamburger {
	display: block;
	position: fixed;
	top: 1rem;
	left: 1rem;
	padding: 0;
	font-size: 2rem;
	background: var(--highlight-color);
	color: var(--dark-gray);
	border: none;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	z-index: 1100;
	cursor: pointer;
	}

	.nav-bar {
	padding-top: 90px;
	max-height: none;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	background-color: var(--light-gray);
	transform: translateY(-150%);
	transition: transform 0.3s ease-in-out;
	}

	.nav-bar.active {
	transform: translateY(0);
	}

	.nav-links {
	flex-direction: column;
	}

	.nav-link {
	padding-left: 1rem;
	flex: none;
	width: 100%;
	justify-content: left;
	}

	.main-content {
	margin: auto;
	height: calc(100vh - 200px);
	}

	.footer {
		margin: 0;
		align-items: center;
		font-size: .9rem;
		
	}
    .footer-link > svg {
    height: 1.5rem;
    width: 1.5rem;
    }

	.footer-link {
    height: 3rem;
    width: 3rem;
    }
}

