
/* DEFAULT STYLING AND STRUCTURE -------------------------------- */
	* {
	box-sizing: border-box;
	}
	
	:root {
	--light-gray: hsl(0, 1%, 30%);
	--light-grayFaded: rgba(255, 255, 255, 0.3);
	--dark-gray: hsl(0, 0%, 17%);
	--dark-grayFaded: rgba(28, 28, 28, 0.7);
	--highlight-color: #F18541;
	letter-spacing: .1rem;
	}
	
	.page-container {
	background: linear-gradient(to bottom left, var(--dark-gray), var(--light-gray), var(--light-grayFaded));
	background-color: var(--light-gray);
	font-family: monospace;
	font-weight: 100;
	font-size: 1rem;
	margin:auto;
	height:100vh;
	max-height: 100vh;
	display: grid;
	grid-template-columns: 15% auto;
	grid-template-rows: 85% 15%;
	gap:0;
	overflow-x: hidden;
	}
	
	h1 {
	padding: .8rem;
	border-radius: 5px;
	margin-top: 0;
	margin-bottom: .6rem;
	font-family: Geneva, Tahoma, sans-serif;
	color: var(--highlight-color);
	letter-spacing: 1rem;
	font-weight: 900;
	text-transform:uppercase;
	font-size: 3rem;
	text-shadow:-1.5px -1.5px 0 var(--dark-gray),
				0px -1.5px 0 var(--dark-gray),
				1.5px -1.5px 0 var(--dark-gray),
				-1.5px  0px 0 var(--dark-gray),
				1.5px  0px 0 var(--dark-gray),
				-1.5px  1.5px 0 var(--dark-gray),
				0px  1.5px 0 var(--dark-gray),
				1.5px  1.5px 0 var(--dark-gray); ;
	}
	
	h2, h3, #nav-link {
	font-family: Geneva, Tahoma, sans-serif;
	font-weight: 900;
	text-transform:uppercase;
	}
	
	a {
	text-decoration: none;
	color: var(--dark-gray);
	}

/* NAVIGATION PANEL  ------------------------------------------- */
	.nav-bar {
	grid-row:1/3;
	height: 100%;
	margin:0;
	padding: 0;
	display: flex;
	}
	
	.nav-bar ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	}
	
	.nav-bar li a {
	font-size: 1.2rem; 
	font-weight: 800;
	text-transform:uppercase;
	height: 20vh;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: inherit;
	color: inherit;
	text-decoration: none;
	}
	
	.nav-bar li {
	color: var(--dark-gray);
	background-color: var(--highlight-color);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 50px;
	box-shadow: 4px 4px 6px var(--light-grayFaded);
	border-top: 6px solid var(--dark-gray);
	border-left: 6px solid var(--dark-gray);
	height: 10%;
	width: 100%;
	min-width: fit-content;
	margin: auto;
	padding: 0 15px;
	display: flex;
	align-items:center;
	justify-content: left;
	}
	
	.nav-bar li:hover {
	transform: scale(1.08);
	background-color: var(--light-grayFaded);
	color: var(--dark-gray);
	box-shadow: 6px 6px 2px var(--dark-gray);
	border-top: 6px solid var(--highlight-color);
	border-left: 6px solid var(--highlight-color);
	transition: all 0.3s ease;
	}


/* BUTTON & LINK STYLING  ----------------------------------------- */
	#footer-link {
	padding: 5px 10px;
	margin: auto;
	color: white;
	border: 3px solid var(--dark-gray);
	background-color: var(--highlight-color);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 20px;
	box-shadow: 4px 4px 2px var(--light-gray);
	border-top: 2px solid var(--dark-gray);
	border-left: 2px solid var(--dark-gray);
	transition: all 0.3s;
	}
	
	#footer-link:hover {
	transform: scale(1.08);
	background-color: var(--dark-gray);
	color: var(--highlight-color) ;
	box-shadow: 4px 4px 2px var(--highlight-color);
	transition: all 0.3s ease;
	}
	
	#credentials-link {
	color: var(--highlight-color);
	background-color: var(--dark-gray);
	padding: 3px 6px;
	border-radius: 10px;
	}
	
	#credentials-link:hover {
	color: white;
	padding: 2px 5px;
	border-radius: 10px;
	transform: scale(1.08);
	transition: all 0.3s ease;
	}



/* MAIN CONTENT STYLING & STRUCTURE ------------------------------------------ */
	
	h2 {
		font-size: 1.4rem;
		margin-bottom: .9rem;
	}
	
	svg {
	height: 2rem;
	width: 2rem;
	vertical-align: -0.4rem;
	fill: currentColor;
	}
	
	.main-content section div {
	margin-bottom: 2rem;
	}	
	
	.main-content {
	background: rgba(255, 255, 255, 0.3);
	border-bottom-left-radius: 100px;
	border-bottom-right-radius:10px;
	height: auto;
	max-height: 85vh;
	margin: auto;
	padding: 3rem;
	overflow: scroll;
	overflow-x: hidden;
	}
	
	#orange-subtitle {
	color: var(--highlight-color);
	}
	
	#intro-letter {
	color:rgb(217, 217, 217) ;
	background-color: var(--dark-grayFaded);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 50px;
	padding: 1%;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 0 !important;
	}
	
	#intro-letter p {
	padding: 0;
	margin: 0;
	margin-bottom: .9rem;
	}
	
	#certifications dl dt {
	background-color: white;
	padding: 3px 6px;
	border-radius: 6px;
	font-size: 1.1rem;
	width: 64%;
	margin-bottom: .2rem;
	}
	
	#certifications dl dd {
	margin-bottom: 1rem;
	}
	
	span {
	font-size: 1rem;
	font-weight: 100;
	}
	
	#study-progress {
	display: grid;
	gap:2rem;
	grid-template-rows: 15% 1fr;
	grid-template-columns: 40% 1fr;
	}
	
	#study-progress h2 {
		grid-row: 1/2;
		grid-column: 1/3;
	}
	
	#study-progress img {
	height:250px;
	filter: grayscale(100%) opacity(75%);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 50px;
	grid-row: 2/3;
	grid-column: 1/2;
	}
	
	#progress-button-container {
	grid-row: 2/3;
	grid-column: 2/3;
	align-self: center;
	}
	
	#study-progress a {
	font-size: 1.8rem;
	font-weight: 500;
	padding: 1rem 4rem;
	background: var(--light-grayFaded);
	border: 3px solid var(--highlight-color);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 50px;
	}
	
	#study-progress a:hover {
	transform: scale(1.08);
	background-color: var(--dark-gray);
	color: white;
	transition: all 0.3s ease;
	}

    #html-renderer, #game-renderer {
		display: flex;
		flex-direction: row;
		max-height: 600px;
		align-items: center;
	}
	
	#html-projectList {
	width:30vw;
	height: fit-content;
    cursor: pointer;
    padding: 0;
    list-style: none;
    }

    #html-projectList li {
	font-size: 1.1rem;
    padding: 0.3rem;
    background: var(--dark-gray);
	color: var(--highlight-color);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 20px;
    margin-bottom: 0.5rem;
    }

    #html-projectList li:hover {
    background: #e2e2e2;
    }
	
	#html-container {
	width:50vw;
	height: 46vh;
	overflow: scroll;
	overflow-x: hidden;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 20px;
	margin-left: 1rem;
	margin-top: .8rem;
    }

	#html-container pre {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 20px;
	background-color: rgb(211, 211, 211);
	}


	#game-renderer div {
		margin-left: 2rem;
		padding: 1.5rem 2rem;
		background-color: white;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 50px;
		line-height: 1.7rem;
	}

	strong {
		font-weight: 900;
		background-color: var(--highlight-color);
		padding: .15rem .25rem;
		margin:.2rem;
		border-radius: 5px;
	}

/* FOOTER STYLING ----------------------------------------------- */
	.footer {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding: 2rem;
	gap: 20%;
	}
	
	.footerSection {
	color: white;
	}

/* HANDLING SMALLER SCREEN SIZES ----------------------------------------------- */

@media (max-width: 900px) {
	.homepage-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	gap: 1rem;
	height: auto; 
	margin: auto;
	}
	
	.main-content {
	grid-row: 1;
	height: auto;
	margin: auto;
	padding: 5%;
	}
	
	.nav-bar {
	grid-row: 2;
	height: auto;
	margin: auto;
	padding: 5%;
	}
	
	.footer {
	grid-row: 3;
	height: auto;
	margin: auto;
	padding: 5%;
	}
	
	.nav-bar li a {
	height: auto;
	margin: 0;
	padding: 0 15px;
	}
	
	.nav-bar li {
	font-size: 1.2rem;
	font-weight: 800;
	text-transform:uppercase;
	}
	
	.nav-bar li a:hover {
	background: var(--dark-gray);
	background-color: var(--highlight-color);
	transition: color 0.3s;
	box-shadow: 6px 6px 2px var(--dark-gray);
	border-top: 6px solid var(--highlight-color);
	border-left: 6px solid var(--highlight-color);
	}
	
	img {
	height:90%; 
	}
}

