img {
	width:80%;
	max-width: 1000px;
}

header {
  text-align:center;
}

body {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	min-height: calc(100vh - 100px);
	text-align:center;
}

hr {
	width: 75%;
}

section h2 {
	text-align: center;
}

section {
	width: 33.3%;
	text-align:left;
	display: inline-block;
}

